.ddpanel .ddpanelcontent{ /*CSS for "content" DIV of Drop Down Panel*/
color: white;
background: #292723; /*background of Drop Down Panel*/
/*Do NOT add any "padding" or "margin" properties here! Any padding/margin should be added to your content's container within this DIV instead */
}

.ddpanel .ddpaneltab{ /*CSS for "toggle" tab DIV of Drop Down Panel*/
margin-right: 150px;
font: normal 12px Arial;
}

@media(max-width:767px){
	.ddpanel .ddpaneltab{ /*CSS for "toggle" tab DIV of Drop Down Panel*/
		margin-right: 0px;
	}
}

.ddpanel .ddpaneltab a{ /*"toggle" tab related CSS*/
	float: right;
	/*float: center;*/
	color: white;
	/*background: #292723 url(toggleleft.gif) no-repeat left bottom; /*background of toggle tab*/*/
	text-decoration: none;
	letter-spacing: 10px;
	padding: 5px;
	border-color: #292723;
	border-style: solid;
	border-width: : 0px 1px 1px 1px;
	background-color: #292723;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
}

.ddpanel .ddpaneltab a span{ /*"toggle" tab related CSS*/
/*float: left;*/
display: block;
/*background: transparent url(toggleright.gif) no-repeat right bottom;*/
padding: 1px 12px 4px 13px;
cursor: pointer;
}

.ddpanel .ddpaneltab a span img.pointerimage{ /*CSS for pointer image within toggle tab*/
margin-top: 2px;
margin-left: 5px;
}

.ddpanel .ddpaneltab a:active, .ddpanel .ddpaneltab a:focus{ /*"toggle" tab related CSS*/
outline: 0;
}

.ddpanel .ddpaneltab a:hover span{ /*"toggle" tab related CSS*/
background-color: transparent;
}
