
h2 a {
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  color: #D87939;
}

h2 a {
  text-decoration: none;
}

h2 {
    padding: 20px 0px;
}

h2 a:hover {
  border-bottom: #292723 1px solid;
  color: #292723;
  text-decoration: none;
}

h3 {
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  color: #292723;
}


p {
  color: #292723;
}

.date {
  color: #D39797;
  font-family: monospace;
  font-size: 12px;
}

.spacing {
  padding-top: 10px;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #292723;
  padding: 20px 0px;
  text-align: center;
}

.post {
  text-align: center;
  padding: 0px 10px 10px 10px;
}

.post p a {
  color: #292723;
}

.post p a:hover {
  color: #292723;
  text-decoration: none;
}

.post p code {
  background-color: transparent;
  border: none;
  color: #292723;
}

.tags p code {
  background-color: #292723;
  color: #ffeeee;
  border-radius: 4px;
  padding: 2px 4px;
  /*margin: 1px;*/
}

.tags p a  {
  border: none;
}

.tags p code:hover {
  /*border: #ffeeee 1px solid;*/
  /*margin: 0px;*/
  background-color: #D87939;
}

h2 {
    font-family: 'Droid Serif', serif;
    color: #292723;
}

p {
    font-family: 'Crimson Text', serif;
}

ul, li, ol {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    color: #292723;
}

ul {
    margin-left: 15px;
    padding-left: 0px;
}

a {
    color: #D87939;
    text-decoration: none;
    border-bottom: #554444 1px dotted;
}

a:hover {
    color: #D87939;
    border-bottom: #D87939 1px dotted;
    text-decoration: none;
}

a:visited {
    color: #D87939;
}


.archive .cat a {
    border: none;
    font-family: 'IM Fell Double Pica', serif;
    font-style: italic;
    color: #292723;
}

.archive .cat a:visited {
    color: #292723;
}

.archive .cat a:hover {
    color: #292723;
    border-bottom: #292723 1px dotted;
}

.archive .title a {
    color: #292723;
}


h4 a {
    color: #292723;
    font-family: 'IM Fell Double Pica', serif;
    font-style: italic;
    font-size: 20px;
}

h4 a:visited {
    color: #292723;
}

h4 a:hover {
    color: #D87939;
}
