---
layout: droppanel
title: Tags
group: Tags
extra_css:
  - /css/tags.css
---

<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h1>List of tags</h1>
		</div>
	</div>
	{% assign sorted_tags = (site.tags | sort:0) %}
	{% for tag in sorted_tags %}
	<div class="row list-group" id="{{ tag[0] | replace: ' ', '' }}">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h3>{{ tag[0] }}</h3>
		</div>
	</div>
	{% for post in tag[1] %}
	<div class="row list-group">
		<div class="col-md-2">
		</div>
		<div class="col-md-2 date">
			{{ post.date | date: "%d %b %Y" }}
		</div>
		<div class="col-md-4">
			<p class="posttitle"><a href="{{ post.url }}">{{ post.title }}</a><p>
			<p class="postcat">[<a href="{{ post.categories[0] }}.html">{{ post.categories[0] | parse_category }}</a>]</p>
		</div>
	</div>
	{% endfor %}
	{% endfor %}
</div>