<div id="icons">
	<a href="/">
		<img 
		src="/assets/icons/small/home.png" alt="home" 
		onmouseover="this.src='/assets/icons/small/home_mid.png'" 
		onmouseout="this.src='/assets/icons/small/home.png'"></a><br/>
	<a href="/">
		<img 
		src="/assets/icons/small/home.png" alt="home" 
		onmouseover="this.src='/assets/icons/small/home_mid.png'" 
		onmouseout="this.src='/assets/icons/small/home.png'"></a>
	<a href="/about.html">
		<img 
		src="/assets/icons/small/user.png" alt="about" 
		onmouseover="this.src='/assets/icons/small/user_mid.png'" 
		onmouseout="this.src='/assets/icons/small/user.png'"></a><br/>
	<a href="/tags.html">
		<img 
		src="/assets/icons/small/tags.png" alt="tags" 
		onmouseover="this.src='/assets/icons/small/tags_mid.png'" 
		onmouseout="this.src='/assets/icons/small/tags.png'"></a>
	<a href="/about.html">
		<img 
		src="/assets/icons/small/user.png" alt="about" 
		onmouseover="this.src='/assets/icons/small/user_mid.png'" 
		onmouseout="this.src='/assets/icons/small/user.png'"></a>
	<a href="/tags.html">
		<img 
		src="/assets/icons/small/tags.png" alt="tags" 
		onmouseover="this.src='/assets/icons/small/tags_mid.png'" 
		onmouseout="this.src='/assets/icons/small/tags.png'"></a><br/>
	<a href="/links.html">
		<img 
		src="/assets/icons/small/links.png" alt="links" 
		onmouseover="this.src='/assets/icons/small/links_mid.png'" 
		onmouseout="this.src='/assets/icons/small/links.png'"></a>
	<a href="http://twitter.com/explodecomputer">
		<img 
		src="/assets/icons/small/twitter.png" alt="twitter" 
		onmouseover="this.src='/assets/icons/small/twitter_mid.png'" 
		onmouseout="this.src='/assets/icons/small/twitter.png'"></a><br/>
	<a href="http://github.com/explodecomputer">
		<img 
		src="/assets/icons/small/github.png" alt="github" 
		onmouseover="this.src='/assets/icons/small/github_mid.png'" 
		onmouseout="this.src='/assets/icons/small/github.png'"></a>
</div>
