<div id="icons">
	<a href="/" class="ico_home" title="home"></a><br/>
	<a href="http://twitter.com/explodecomputer" class="ico_twitter" title="twitter"></a>
	<a href="http://github.com/explodecomputer" class="ico_github" title="github"></a><br/>
	<a href="/links.html" class="ico_links" title="links"></a>
	<a href="/about.html" class="ico_about" title="about"></a>
	<a href="/photography.html" class="ico_photography" title="photography"></a><br/>
	<a href="/categories.html" class="ico_categories" title="categories"></a>
	<a href="/tags.html" class="ico_tags" title="tags"></a><br/>
	<a href="/archive.html" class="ico_archive" title="archive"></a>
</div>