<div id="icons">
	<a href="/"><img src="/assets/icons/home_mid.png" alt="home" onmouseover="this.src='/assets/icons/small/home_light.png'" onmouseout="this.src='/assets/icons/small/home_mid.png'"></a>
	<a href="/about.html"><img src="/assets/icons/user_mid.png" alt="about" onmouseover="this.src='/assets/icons/small/user_light.png'" onmouseout="this.src='/assets/icons/small/user_mid.png'"></a>
	<a href="/tags.html"><img src="/assets/icons/tags_mid.png" alt="tags" onmouseover="this.src='/assets/icons/small/tags_light.png'" onmouseout="this.src='/assets/icons/small/tags_mid.png'"></a><br/>
	<a href="/links.html"><img src="/assets/icons/links_mid.png" alt="links" onmouseover="this.src='/assets/icons/small/links_light.png'" onmouseout="this.src='/assets/icons/small/links_mid.png'"></a>
	<a href="http://twitter.com/explodecomputer"><img src="/assets/icons/twitter_mid.png" alt="twitter" onmouseover="this.src='/assets/icons/small/twitter_light.png'" onmouseout="this.src='/assets/icons/small/twitter_mid.png'"></a><br/>
	<a href="http://github.com/explodecomputer"><img src="/assets/icons/github_mid.png" alt="github" onmouseover="this.src='/assets/icons/small/github_light.png'" onmouseout="this.src='/assets/icons/small/github_mid.png'"></a>
</div>
